{% extends "layouts/guest.twig" %}

{% block title %}Inloggen{% endblock %}

{% block panel %}
    <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 mb-4">Inloggen</h1>

    <form method="post" action="{{ route('login.action') }}" dusk="login-form">
        {{ csrf_field() }}

        {% include 'layouts/fields/input' with {'name': 'email', 'type': 'email', 'label': 'E-mailadres', 'autofocus': old('email', request('email')) is empty, 'value': request('email')} %}
        {% include 'layouts/fields/input' with {'name': 'password', 'type': 'password', 'label': 'Wachtwoord', 'autofocus': old('email', request('email')) is not empty} %}

        <div class="mt-8 flex justify-between items-center">
            <input type="hidden" name="remember" value="1">
            <button class="button-primary">Inloggen</button>

            <a class="text-gray-500 underline text-sm" href="{{ route('password.request') }}">
                Wachtwoord vergeten
            </a>
        </div>
    </form>
{% endblock %}
