{% extends "layouts/panel.twig" %}

{% block panel %}
    <h1 class="line-under-title">Inloggen</h1>
    
    <form method="post" action="{{ route('login') }}">
        {{ csrf_field() }}

        <div class="form-group floating-label">
            <label for="email">E-mailadres</label>
            <input class="form-control" type="email" id="email" name="email" value="{{ old('email') }}" required {% if old('email') is empty %}autofocus{% endif %}>
        </div>

        <div class="form-group floating-label">
            <label for="password">Wachtwoord</label>
            <input class="form-control" type="password" id="password" name="password" required {% if old('email') is not empty %}autofocus{% endif %}>
        </div>

        <div class="mt-3 align-items-center d-flex justify-content-between flex-wrap">
            <input type="hidden" name="remember" value="1">
            <button class="btn btn-primary btn-arrow">Inloggen</button>

            <a class="text-muted small d-block d-md-inline mt-2 mt-md-0" href="{{ route('password.request') }}">
                Wachtwoord vergeten
            </a>
        </div>
    </form>
{% endblock %}
