{% extends "layouts/guest.twig" %}

{% block panel %}
    <h1 class="mb-4">Inloggen</h1>

    <form method="post" action="/login">
        {{ csrf_field() }}

        <div class="form-group">
            <input class="form-control" placeholder="E-mailadres" type="email" name="email" value="{{ old('email') }}" {% if old('email') is empty %}autofocus{% endif %}>
        </div>

        <div class="form-group">
            <input class="form-control" placeholder="Wachtwoord" type="password" name="password" {% if old('email') is not empty %}autofocus{% endif %}>
        </div>

        <div class="align-items-center d-flex justify-content-between">
            <input type="hidden" name="remember" value="1">
            <button class="btn btn-primary">Inloggen</button>
            <a class="text-muted small" href="/password/reset">
                Wachtwoord vergeten
            </a>
        </div>
    </form>
{% endblock %}
