<div>
    <a class="text-gray-400 uppercase tracking-wider text-xs leading-none whitespace-nowrap" href="{{ url }}">
        {{ svg('arrow-left').class('mr-1') }}
        {{ label ?? __('Go back') }}
    </a>
</div>
