{% extends "layouts/guest.twig" %}

{% block title %}Wachtwoord vergeten{% endblock %}

{% block panel %}
    <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate mb-4">Wachtwoord vergeten</h1>

    <form method="post" action="{{ route('password.email') }}" dusk="reset-password-form">
        {{ csrf_field() }}

        {% include 'layouts/fields/input' with {'name': 'email', 'type': 'email', 'label': 'E-mailadres', 'autofocus': true} %}

        <div class="mt-8 flex justify-between items-center">
            <button class="button-primary">Versturen</button>

            <div class="text-gray-500">
                <a class="text-gray-500 underline text-sm mr-1" href="{{ route('login') }}">Inloggen</a>
            </div>
        </div>
    </form>
{% endblock %}
