{% extends "layouts/guest.twig" %}

{% block title %}Nieuw wachtwoord instellen{% endblock %}

{% block panel %}
    <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate mb-4">Nieuw wachtwoord instellen</h1>

    <form method="post" action="{{ route('password.update') }}">
        {{ csrf_field() }}
        <input type="hidden" name="token" value="{{ token }}">

        {% include 'layouts/fields/input' with {'name': 'email', 'type': 'email', 'label': 'E-mailadres', 'value': old('email', email), 'required': true} %}

        {% include 'layouts/fields/input' with {'name': 'password', 'type': 'password', 'label': 'Nieuw wachtwoord', 'required': true} %}
        <p class="text-sm text-gray-500 -mt-1 mb-2">Minimaal 8 karakters.</p>

        {% include 'layouts/fields/input' with {'name': 'password_confirmation', 'type': 'password', 'label': 'Herhaal nieuw wachtwoord', 'required': true} %}

        <div class="mt-8 flex justify-between items-center">
            <button class="button-primary">Wachtwoord instellen</button>
        </div>
    </form>
{% endblock %}
