{% extends "layouts/base.twig" %}

{% block content %}
    <h2>Doel ForCA QuickScan</h2>
    <p>Doel van de ForCA QuickScan is om u snel inzicht te geven in de belemmerende en bevorderende factoren die bij uw organisatie spelen bij de implementatie van een of meerdere gedragsinterventies. Daarnaast kunt u de ForCA QuickScan gebruiken voor het evalueren van reeds lopende implementatietrajecten.</p>

    <h2>Door wie kan de ForCA QuickScan worden ingevuld?</h2>
    <p>De ForCA QuickScan kan ingevuld worden door degenen die betrokken zijn bij de implementatie van een interventie. Dit betekent dat de ForCA QuickScan ingevuld kan worden door een groepsleider, trainer, behandelaar en/of manager. Het is echter wel zo dat iedereen eigen taken,
        verantwoordelijkheden en bevoegdheden heeft. Het is dan ook aan te raden om de ForCA QuickScan door meerdere personen in te laten vullen. Op deze wijze krijgt u een beter beeld van welke bevorderende en belemmerende factoren in uw organisatie vooral spelen.</p>
    <p>Hoewel de ForCA QuickScan in eerste instantie gericht is op de belemmerende en bevorderende factoren bij de implementatie van een gedragsinterventie, is deze ook te gebruiken voor andere vernieuwingen, zoals de invoering van Routine Outcome Monitoring.</p>

    <h2>Hoe werkt de ForCA QuickScan?</h2>
    <p>De ForCA QuickScan is opgebouwd rond vier domeinen: interventie, personeel, organisatie en doelgroep. Per domein, welke u in willekeurige volgorde kan doorlopen, wordt een aantal hoofdvragen en verdiepingsvragen gesteld.</p>
    <p>Bij de hoofdvragen wordt gebruik gemaakt van een Visueel Analoge Schaal (VAS). De VAS bestaat uit een lijn met twee extremen (helemaal niet/helemaal wel). Wanneer op deze lijn geklikt wordt, verschijnt een marker die u kunt verschuiven. De verdiepingsvragen kunnen met ‘ja’ of ‘nee’ worden
        beantwoorden.</p>
{% endblock %}
