$primary: #43425D;
$secondary: rgba($primary, .4);
$light: #F5F6FA;
$body-color: rgba($primary, .6);

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
);

$font-family-base: 'Aller', Helvetica, Arial, sans-serif;
$line-height-base: 1.7;

$input-btn-focus-box-shadow: none;
$btn-active-box-shadow: none;
$btn-box-shadow: none;
$input-bg: $light;
$input-border-width: 0;
