.alert {
    border: 0;

    &-success {
        background: #e7f8ea;
        color: #296835;
    }

    &-warning {
        background: #fbf8de;
        color: #6c2c10;
    }

    &-danger {
        background: #ffecec;
        color: #5a0d0d;
    }

    &-light {
        background: #f4f4f4;
        color: #555;
    }
}
