.badge {
    padding: .35rem .6rem;
    font-weight: 600;

    &-success {
        background: #e7f8ea;
        color: #296835;
    }

    &-warning {
        background: #fbf8de;
        color: #6c2c10;
    }

    &-danger {
        background: #ffecec;
        color: #5a0d0d;
    }

    &-light {
        background: #f4f4f4;
        color: #555;
    }

    &-dark {
        background: #ddd;
        color: #555;
    }
}
