.vcard {
    display: flex;
    align-items: center;

    .vcard-name {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 4px;
        color: $primary;
        line-height: 1;
    }

    .vcard-subtext {
        font-size: 80%;
        color: $text-muted;
        line-height: ($line-height-base * 0.8);
    }

    .vcard-profile-picture {
        border-radius: 50%;
        width: 44px;
        margin-right: .5rem;
    }
}
