<div class="font-semibold text-sm text-gray-500 mb-1 md:mb-0">{{ label }}{% if required|default(false) %}<span class="text-red-400 ml-1">*</span>{% elseif required is defined and not required %}<span class="text-sm text-gray-400 font-normal ml-1">(optioneel)</span>{% endif %}</div>
