{% if session('success') or session('status') %}
    {% set message = session('status') ?: session('success') %}
    <div class="bg-green-500 text-white rounded font-bold px-4 py-3 mb-3 leading-snug" role="alert">
        {{ message|raw }}
    </div>
{% endif %}

{% if errors.any %}
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-3" role="alert">
        {% for error in errors.all %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
{% endif %}
