{% extends "layouts/base.twig" %}

{% block body %}
    <div class="guest">
        <div class="guest-background">

        </div>
        <div class="guest-content">
            <div class="guest-panel">
            {{ block('content') }}
            </div>
        </div>
    </div>
{% endblock %}
