{% extends "layouts/base.twig" %}

{% block body %}
    <div class="panel-wrapper panel-wrapper-centered">
        <div class="panel">
            {% include "layouts/partials/alerts.twig" %}

            {{ block('panel') }}
        </div>
    </div>
{% endblock %}
