{% extends "layouts/base.twig" %}

{% block body %}
    <div class="panel-wrapper">
        <div class="panel panel-lg">
            {% include "_partials/alerts.twig" %}

            {{ block('panel') }}
        </div>
    </div>
{% endblock %}
