<div class="graph-container"></div>

<div id="scoretip">
    <div id="vasvraag">Vraagtekst</div>
    <div id="colorgrid">
        <div id="colorgridpointer"></div>
    </div>
</div>

<script type="text/json" class="js-results-json">
    [
        {
            "questionid":1,
            "Categoryid":1,
            "Label":"vaardigheden",
            "QuestionText":"Beschikken medewerkers over de kennis en vaardigheden die nodig zijn voor het uitvoeren van de interventie?",
            "DeepQuestions":null,
            "ResultSecondary":93
        },
        {
            "questionid":4,
            "Categoryid":2,
            "Label":"structuur",
            "QuestionText":"Is de organisatiestructuur geschikt voor het implementatietraject?",
            "DeepQuestions":null,
            "ResultSecondary":91
        },
        {
            "questionid":8,
            "Categoryid":3,
            "Label":"toegevoegde waarde",
            "QuestionText":"Heeft de interventie duidelijk toegevoegde waarde ten opzichte van de vorige werkwijze?",
            "DeepQuestions":[
                {
                    "Answer":true
                },
                {
                    "Answer":false
                },
                {
                    "Answer":false
                }
            ],
            "ResultSecondary":62
        },
        {
            "questionid":14,
            "Categoryid":4,
            "Label":"passend bij organisatie",
            "QuestionText":"Past de interventie bij de doelgroep binnen de organisatie?",
            "DeepQuestions":null,
            "ResultSecondary":94
        },
        {
            "questionid":2,
            "Categoryid":1,
            "Label":"ondersteuning",
            "QuestionText":"Worden medewerkers ondersteund om hun kennis en vaardigheden op peil te houden?",
            "DeepQuestions":null,
            "ResultSecondary":95
        },
        {
            "questionid":5,
            "Categoryid":2,
            "Label":"profilering",
            "QuestionText":"Weet de organisatie de interventie duidelijk op de kaart te zetten?",
            "DeepQuestions":null,
            "ResultSecondary":91
        },
        {
            "questionid":9,
            "Categoryid":3,
            "Label":"helderheid onderdelen",
            "QuestionText":"Is het voor iedereen duidelijk wat de belangrijke onderdelen van de interventie zijn? ",
            "DeepQuestions":null,
            "ResultSecondary":95
        },
        {
            "questionid":15,
            "Categoryid":4,
            "Label":"overeenkomst behandeldoel",
            "QuestionText":"Komt de problematiek van de doelgroep overeen met het behandel- of trainingsdoel van de interventie?",
            "DeepQuestions":null,
            "ResultSecondary":91
        },
        {
            "questionid":3,
            "Categoryid":1,
            "Label":"samenwerking",
            "QuestionText":"Werken medewerkers samen binnen de organisatie?",
            "DeepQuestions":null,
            "ResultSecondary":95
        },
        {
            "questionid":6,
            "Categoryid":2,
            "Label":"verantwoordelijkheidsgevoel",
            "QuestionText":"Voelen álle medewerkers zich verantwoordelijk voor het succes van de interventie?",
            "DeepQuestions":null,
            "ResultSecondary":91
        },
        {
            "questionid":10,
            "Categoryid":3,
            "Label":"gebruikersvriendelijk",
            "QuestionText":"Beschikt de interventie over een gebruiksvriendelijke vormgeving en opzet?",
            "DeepQuestions":null,
            "ResultSecondary":96
        },
        {
            "questionid":16,
            "Categoryid":4,
            "Label":"waarde voor deelnemers",
            "QuestionText":"Is de verwachting dat de deelnemers baat hebben bij de interventie?",
            "DeepQuestions":null,
            "ResultSecondary":90
        },
        {
            "questionid":7,
            "Categoryid":2,
            "Label":"randvoorwaarden",
            "QuestionText":"Zijn de benodigde randvoorwaarden voor de implementatie van de interventie aanwezig? ",
            "DeepQuestions":null,
            "ResultSecondary":100
        },
        {
            "questionid":11,
            "Categoryid":3,
            "Label":"aansluiting praktijk",
            "QuestionText":"Sluit de interventie aan bij de dagelijkse praktijk?",
            "DeepQuestions":null,
            "ResultSecondary":92
        },
        {
            "questionid":17,
            "Categoryid":4,
            "Label":"aansluiting doelgroep",
            "QuestionText":"Sluit de interventie goed aan op de doelgroep?",
            "DeepQuestions":null,
            "ResultSecondary":93
        },
        {
            "questionid":12,
            "Categoryid":3,
            "Label":"aansluiting werkwijze",
            "QuestionText":"Sluit de interventie aan bij de algehele werkwijze binnen de keten?",
            "DeepQuestions":null,
            "ResultSecondary":91
        },
        {
            "questionid":13,
            "Categoryid":3,
            "Label":"borging kwaliteit",
            "QuestionText":"Is de kwaliteit van de interventie op lange termijn geborgd?",
            "DeepQuestions":null,
            "ResultSecondary":94
        }
    ]


</script>
