{% extends "layouts/base.twig" %}

{% block content %}
    {% include "results/_results.twig" %}

    <a href="{{ route('results.export') }}" class="btn btn-primary" target="_blank">Exporteren naar PDF</a>
{% endblock %}
